<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>

   <ion-fab vertical="botton" horizontal="end" slot="end" edge>
      <ion-fab-button color="success" class="fabbtn" #cart>
      <!--  <div class="cart-length">{{ cartItemCount | async }}</div>-->
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>

    <ion-col size="6" class="ion-activated ion-no-padding" *ngFor="let item of oferta">
    
        <ion-card class="ion-no-margin ion-no-padding fixpad">
          <img src="https://cdn-cosmos.bluesoft.com.br/products/{{item.codigobarras}}"
            class="fiximg" />
          <ion-card-header class="fixhead">
            <ion-card-subtitle class="fixsub">{{item.descricaocompleta}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="fixline">
           
            <ion-icon size="large" name="cart-outline"></ion-icon> R$ {{item.precooferta}}
          </ion-card-content>
        </ion-card>

    </ion-col>
    <ion-col>
  

  </ion-col>
  </ion-row>





</ion-content>
<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>